<div class="columns is-centered mt-2">
  <div class="column is-two-thirds">
    <%= form_with url: "/flights", method: :get, local: true do |form| %>
      <div class="field is-grouped is-horizontal is-centered">
        <%= form.label :departing_on, "Departure Date", class: "field-label" %>
        <div class="control">
          <div class="select">
            <%= select_tag(:departing_on, options_for_select(@departure_dates, selected: params[:departing_on]), { prompt: 'Date'}) %>
          </div>
        </div>
        <%= form.label :departure_airport_id, "Departure Airport", class: "field-label" %>
        <div class="control">
          <div class="select">
            <%= select_tag(:departure_airport_id, options_for_select(@airports, selected: params[:departure_airport_id]), { prompt: 'Departure Airport'}) %>
          </div>
        </div>
        <%= form.label :arrival_airport_id, "Arrival Airport", class: "field-label" %>
        <div class="control">
          <div class="select">
            <%= select_tag(:arrival_airport_id, options_for_select(@airports, selected: params[:arrival_airport_id]), { prompt: 'Arrival Airport'}) %>
          </div>
        </div>
        <%= form.label :passengers, "Passengers", class: "field-label" %>
        <div class="control">
          <div class="select">
          <%= select_tag(:passengers, options_for_select(@num_passengers, selected: params[:passengers]), { prompt: 'Passenger(s)'}) %>
          </div>
        </div>
        <div class="control">
          <%= form.submit "Search", class: "button is-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
