<%# Search Form %>
<%# Four dropdowns - dep airports, arr airports, passengers, date %>
<%# Nothing populated until dropdowns completed and submit button clicked %>
<%# Return same view but with second section of flights filled out (parameters passed from previous) %>
<%# Radio button next to flights to select which one you want, then submit button (submits to booking(s)#new) with hidden passenger number field included %>

<%= form_with url: "/flights", method: :get do |form| %>
  <div class="field">
    <%= form.label :departure_date, "Departure Date", class: "label" %>
    <div class="control">
      <%= select_tag(:departure_date, options_for_select(@departure_dates)) %>
    </div>
  </div>
  <div class="field">
    <%= form.label :departure_airport_id, "Departure Airport", class: "label" %>
    <div class="control">
      <%= select_tag(:departure_airport_id, options_for_select(@departure_airports)) %>
    </div>
  </div>
  <div class="field">
    <%= form.label :arrival_airport_id, "Arrival Airport", class: "label" %>
    <div class="control">
      <%= select_tag(:arrival_airport_id, options_for_select(@arrival_airports)) %>
    </div>
  </div>
  <div class="field">
    <%= form.label :passengers, "Passengers", class: "label" %>
    <div class="control">
      <%= select_tag(:passengers, options_for_select(@num_passengers)) %>
    </div>
  </div>
  <%= form.submit %>
<% end %>